<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Slot_BookingEntities" connectionString="metadata=res://*/CPBContext.csdl|res://*/CPBContext.ssdl|res://*/CPBContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ASDLAPKCH0346\SQLEXPRESS;initial catalog=Slot_Booking;user id=sa;password=sa;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>